@import "tailwindcss";
@plugin "daisyui";


li a.active {
    text-decoration: underline; 
    color: red;
}


/* SLIDERRRRR */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}



.footer_title_heading {
    font-weight:600;
    font-size: large;
    margin-bottom: 20px;
    color: rgb(185, 182, 182);
    
}